<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Steam</title>
	<link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>
	<div class="header">
			<ul class="nav">
				<li><a href="">Store</a></li>
				<li><a href="">Library</a></li>
				<li><a href="">Community</a></li>
			</ul>
			<ul class="user">
				<li><a href=""><img src="../public/stylesheets/smile.png" alt=""></a></li>
				<li><a href="" class="username">Pit Graham</a></li>
				<li><a href=""><img src="../public/stylesheets/log-out.png" alt=""></a></li>
			</ul>
			<!-- <a href=""><img src="../public/stylesheets/smile.png" alt=""></a>
			<a href="" class="username">Pit Graham</a>
			<a href=""><img src="../public/stylesheets/log-out.png" alt=""></a>	 -->
		<div class="clear"></div>
	</div>
</body>
</html>