@font-face {
	font-family: helvetica;
	src: url("../fonts.otf") format("opentype");
}
*{padding: 0;margin: 0;}
body{
	font-family: helvetica;
}
.header{
	width: 100%;
	list-style: none;
	color: white;
	background: #181A37;
	display: inline-block;	
}
.clear{
	clear: both;
}
.header ul.nav, ul.user li{
	display: inline-block;
}
.header ul.nav li{
	list-style: none;
	display: inline-block;
	padding:18px 40px 15px 40px; 
}
.header ul.nav li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15pt;
}
.header ul.nav li a:hover{
	transition:.8s;
	color: #68BAFF; 
}
ul.user{
	float: right;
	padding: 7px 0;
}
ul.user li {
	vertical-align: middle;
	list-style-type: none;
	display: inline-block;
}
ul.user li  a{
	text-decoration: none;
	color: white;
	padding-right: 10px;
}
ul.user li  a.username{
}
.user img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.log-out img{
	width: 20px;
	height: 20px;
}

@media (max-width:768px){
	.header ul{
		width: 100%;
		text-align: center;
		padding: none
	}
	.header ul.nav li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
