@font-face {
	font-family: 'Helvetica';
	src: url("../fonts.otf") format("opentype");
}
*{padding: 0;margin: 0;}
body {
    font-family: "Motiva Sans";
    background: #393F6B;
    color: white;
}
.body-wrapper{
    width: 1048px;
    margin: auto;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
.header{
	width: 100%;
	background: #181A37;
	display: inline-block;
    position: relative;
}
.header ul.nav{
    padding-left: 10px;
}
.header ul.nav li{
	list-style: none;
	display: inline-block;
	padding:26px 15px;
}
.header ul.nav li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15pt;
}
.header ul.nav li a:hover{
	transition:.8s;
	color: #68BAFF;
}
.header ul.nav, ul.user li{
	display: inline-block;
}
ul.user{
    position: absolute;
    right: 0;
    top:0;
	padding: 19px 15px;
}
ul.user li {
	vertical-align: middle;
	display: inline-block;
}
ul.user li a{
	text-decoration: none;
	color: white;
	padding-right: 10px;
}
.user img{
	width: 33px;
	height: 33px;
	border-radius: 50%;
}
.favourites img{
	width: 20px;
	height: 20px;
}
.favourites{
	background:#272A4E; 
}
.favourites ul li a{
	text-decoration: none;
	color: white;
}
.favourites ul li{
	display: inline-block;
	padding: 7px 10px 5px;
}
.favourites ul{
	display: inline-block;
}
span.gamename{
	padding: 5px 10px;
	vertical-align: middle;
	margin-top: -10px;
	display: inline-block;
}
span.two-weeks{
	display: inline-flex;
	vertical-align: middle;
 	text-shadow: .5px .3px .3px #68BAFF;
	color: #68BAFF;
	padding:0 0 10px 40px;
}
.content{
	margin: 0 auto;
	max-width: 960px;
	padding: 50px 0 0 100px;
}
img.game_icon{
	width: 60px;
	height: 60px;
	vertical-align: top;
	margin-right: 10px;
	float: left;
}
.current-info{
	display: block;
}
span.current-game{
	font-weight: 100;
	font-size: 2em;
}
span.played{
	display: block;
	font-size: 15px;

}
.else{
	margin: 20px 0;
}
.content p{
	padding: 15px 0;
}
img.graph{
	width: 768px;
	height: 300px;
	padding: 20px 0;
}
span.title{
	font-size: 1.5em;
}
ul.playing_friends li{
	display: inline-block;
	margin: 20px 10px;
}
ul.playing_friends li:first-child{
	margin-left: 0;
}
ul.playing_friends li img{
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
@media (max-width:768px){
	.header ul{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.header ul.nav li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	ul.fvr{
		width:100%;
		text-align: center;
		padding:0;
	}
	span.two-weeks{
		display: block;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
	}
	.content{
		padding: 10px;
	}
	img.graph{
		width: 100%;
		height: 100%;
	}
}